@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&display=swap');


:root {
  /* colors */
  --color-white : HSL(0°, 0%, 100%);
  --color-neutral-100: HSL(240°, 6%, 54%);
  --color-neutral-200: HSL(240°, 17%, 26%);
  --color-neutral-300: HSL(240°, 67%, 8%);

  --color-cyan: hsla(194, 48%, 49%, 1);
  --color-yellow: hsla(33, 82%, 61%, 1);
  --color-purple: hsla(263, 67%, 51%, 1);
  --color-red-orange: hsla(10, 63%, 51%, 1);
  --color-red: hsla(2, 68%, 53%, 1);
  --color-orange: hsla(17, 73%, 46%, 1);
  --color-light-green: hsla(169, 73%, 44%, 1);
  --color-blue: hsla(222, 87%, 56%, 1);

  /* fonts */
  --font-family-heading: 'Antonio', sans-serif;;
  --font-family-text: 'League Spartan', sans-serif;

  --fs-100: 0.6875rem;
  --fs-200: 0.875rem;
  --fs-300: .75rem;
  --fs-400: 2.5rem;
  --fs-500: 5rem;

  --fs-button: var(--fs-300);

  --fw-400: 400;
  --fw-700: 600;

  --line-height: 1.5625rem;
}

/* CSS Reset - Josh w Comeau*/

/*1. Use a more-intuitive box-sizing model.*/
*, *::before, *::after { box-sizing: border-box; }

/* 2. Remove default margin*/
* {  margin: 0; }
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*6. Remove built-in form typography styles*/
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows*/
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word;}

/*8. Create a root stacking context*/
#root, #__next { isolation: isolate; }


.trail {
  color: var(--color-purple);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
}
